/* Pedro Diaz Gonzalez, UO294790*/

/* Estilos generales del proyecto MotoGP-Desktop*/

/* Especificidad: 0,0,1 */
body {
  background-color: #433d35;
  color: #efe5c9;
}

/* Especificidad: 0,0,1 */
header {
  background-color: #29241e;
  color: #efe5c9;
}

header a{
  text-decoration: none;
}

header + p{
  font-size: 0.875rem;
}

nav a.active{
  font-weight: bold;
  font-size: 1.2em;
}
/* Especificidad: 0,0,1 */
h1 {
  color: #efe5c9;
}

/* Especificidad: 0,0,1 */
nav a {
  color: #efe5c9;
  text-decoration: none;
}
